# SCF - IAC-28.3 - Identity Evidence Validation & Verification
Mechanisms exist to require that the presented identity evidence be validated and verified through organizational-defined methods of validation and verification.
## Mapped framework controls
### HIPAA
- [164.312(d)](../hipaa/164312d.md)
  
## Control questions
Does the organization require that the presented identity evidence be validated and verified through organizational-defined methods of validation and verification?
  